*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 20%;
}
p{
    font-family: 'Barlow', sans-serif;
    color: hsl(213, 9%, 39%);
}
.header{
    background: url("/images/desktop/image-header.jpg");
    background-size: cover;
    background-position: -1rem;
    text-align: center;
    height: 40rem;
}
header{
    padding: 2rem 3rem;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
}
header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
}
.burger{
    background: transparent;
    color: white;
    display: none;
    border: none;
    font-size: 1.2rem;
}
.burger:focus{
    outline: none;
}
header .button{
    color: black;
    padding: 0.8rem 1.3rem;
    background: white;
    border-radius: 5rem;
    font-size: 0.8rem;
    transition: 0.3s;
}
header .button:hover{
    background: rgba(255, 255, 255, 0.3);
    color: white;
}
#maintitle{
    margin-top: 5rem;
    font-family: 'Fraunces', sans-serif;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    color: white;
}
.arrow{
    margin-top: 5rem;
}
.cellsone, .cellstwo, .cellsthree{
    display: flex;
}
.cellsone section, .cellstwo section{
    width: 50%;
    height: 30rem;
}
.cellsthree section{
    width: 50%;
    height: 32rem;
}
.cellsone .imageone{
    background-image: url("/images/desktop/image-transform.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cellstwo .imagetwo{
    background-image: url("/images/desktop/image-stand-out.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.cellsthree .imagethree{
    background-image: url("/images/desktop/image-graphic-design.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
   
}

.cellsthree .textthree{
    height: auto;
    margin-top: 20rem;
}
.cellsthree .imagefour{
    background-image: url("/images/desktop/image-photography.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.cellsthree .textfour{
    height: auto;
    margin-top: 20rem;
}
.cellsone .text, .cellstwo .text{
    padding: 10% 10%;
}
.text span{
    display: block;
}
.text a{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: 'Fraunces', sans-serif;
    padding: 0 0.3rem;
    
    
}
.text a::after{
    content: "";
    background: hsla(51, 100%, 49%,0.2);
    position: absolute;
    height: 8px;
    left: 0;
    bottom: -4px;
    border-radius: 15px;
    width: 100%;
    transition: 0.5s;
}
.text a:hover:after{
    background: hsla(51, 100%, 49%,0.5);
}
.text .underlineRed::after{
    content: "";
    background-color: hsla(7, 99%, 70%,0.2);
    position: absolute;
    height: 8px;
    left: 0;
    bottom: -4px;
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
}
.text .underlineRed:hover:after{
    background: hsla(7, 99%, 70%,0.5);
}
.text h2{
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.text p{
    margin-bottom: 2rem;
    font-family: 'Barlow', sans-serif;
    color:hsl(210, 4%, 67%) ;
    line-height: 1.5;
}
.textthree h3, .textfour h3{
    font-family: 'Fraunces', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: hsl(167, 40%, 24%);
}
.textthree p, .textfour p{
    font-family: 'Barlow', sans-serif;
    color: hsl(167, 40%, 24%);
}
.clients{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 8rem;
}
.clients section{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.clients img{
    border-radius: 50%;
    width: 20%;
    
}
.clientssec h4{
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    margin-top: 7rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    color: hsl(210, 4%, 67%);
    font-weight: bold;
}
.clients p{
    margin-top: 3rem;
    width: 80%;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 5rem;
}
.clients .name{
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Fraunces', sans-serif;
    color: black;
}
.clients span{
    padding-bottom: 0.7rem;
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
}
.imagesonly{
    display: flex;
}
.imagesonly section{
    width: 25%;
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.imagesonly .one{
    background-image: url('/images/desktop/image-gallery-milkbottles.jpg');
}
.imagesonly .two{
    background-image: url('/images/desktop/image-gallery-orange.jpg');
}
.imagesonly .three{
    background-image: url('/images/desktop/image-gallery-cone.jpg');
}
.imagesonly .four{
    background-image: url('/images/desktop/image-gallery-sugarcubes.jpg');
}

footer ul li{
    list-style-type: none;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    background: #90d4c5;
}
footer svg{
    color:#2b7365;
}
footer ul{
    display: flex;
}
footer a{
    text-decoration: none;
    color: hsl(168, 34%, 41%);
    font-family: 'Barlow', sans-serif;
}
footer a:hover{
    color: white;
}
.social li{
    margin: 0 1rem;
    margin-top: 5rem;
}
.social li svg{
    color: #2C7566;
}
.social li svg:hover{
    color: white;
}
.navfooter li{
    margin: 0 2rem;
}
.navfooter{
    margin-top: 2rem;
}
.cellstwo .text span{
    display: inline;
}

@media screen and (max-width: 700px)
{
    body{
        margin: 0;
    }
    header{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .header{
    background: url("/images/mobile/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 31rem;
    }
  
.nav{
    position: relative;
    margin-top: 3rem;
    display: none;
    flex-direction: column;
    width: 100%;
    background: white;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    
}



.nav::after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: -1.5rem;
    border-bottom: 1.5rem solid white;
    border-left: 1.5rem solid transparent; 
    
}
.nav a{
    padding-bottom: 2rem;
    font-size: 1.2rem;
    color: hsl(232, 10%, 55%);
}
nav .button{
    background: hsl(51, 100%, 49%);
    color: black;
    width: 38%;
    padding: 1rem 0;
    font-family: 'Fraunces';
    font-size: 0.9rem;
}
.show{
    display: flex;
    animation: fadeIn 0.1s linear forwards;
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; } 
   }

.hide{
    display: none;
}

    .burger{
        display: block;
    }
    .burger.opacity{
        opacity: 0.8;
    }
    #maintitle{
        margin-top: 2rem;
        font-size: 2.4rem;
        font-weight: 900;
    }
    .arrow{
        margin-top: 2.5rem;
    }
    .cellsone{
        display: flex;
        flex-direction: column-reverse;
    }
    .cellstwo, .cellsthree, .clientssec, .clients{
        display: flex;
        flex-direction: column;
    }
    .cellsone .imageone{
        background-image: url("/images/mobile/image-transform.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .cellsone section, .cellstwo section{
        width: 100%;
        height: 20rem;
    }
    .cellsone .text, .cellstwo .text{
        text-align: center;
        height: 22rem;
    }
    .text a::after{
       left:6rem;
        width: 40%
    }
    .cellstwo.imagetwo{
        background-image: url("/images/mobile/image-stand-out.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .text .underlineRed::after{
        width: 40%;
    }
    .cellstwo .text{
        padding-top: 15%;
    }
    .cellsthree section{
        width: 100%;
        height: 35rem;
    }
    .cellsthree .imagethree{
        background-position: -9rem;
        justify-content: flex-end;
    }
    .cellsthree .imagefour{
        background-image: url('/images/mobile/image-photography.jpg');
        justify-content: flex-end;
    }
    .cellsthree .textthree, .cellsthree .textfour{
        margin-top: 0;
        margin-bottom: 5rem;
    }
    .clients p{
        padding-bottom: 2rem;
    }
    .clients section{
        margin-bottom: 2.5rem;
    }
    .clients{

        padding-bottom: 2rem;
    }
    .imagesonly{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .imagesonly section{
        width: 50%;
        height: 12rem;

    }
    .imagesonly .one{
        background-image: url('/images/mobile/image-gallery-milkbottles.jpg');
    }
    .imagesonly .two{
        background-image: url('/images/mobile/image-gallery-orange.jpg');
    }
    .imagesonly .three{
        background-image: url('/images/mobile/image-gallery-cone.jpg');
    }
    .imagesonly .four{
        background-image: url('/images/mobile/image-gallery-sugar-cubes.jpg');
    }
  
   
}